body{
       background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(77,161,246,1) 58%, rgba(88,162,243,1) 66%);
      text-align: center;
}
.labels{

       display: flex;
       justify-content:center;
       
       font-size: 30px;
       padding:10px 0;
       color:rgba(66, 66, 66, 0.986);
}
.labels label{
       padding-right: 50px;
}

.labels input{
       width: 10%;
       border: none;
       border-radius: 5px;
       font-size: 20px;
}
.container{
       display: flex;
       justify-content: space-around;
       margin-top:50px;
       width: 100%;
       
}
table{
       border-collapse: collapse;
       
}

.table-top{
       background-color: rgb(6,57,112);
       color:aliceblue;
       font-size: 35px;
       position: relative;
       
}
.products {
background: rgba(255, 255, 255, 0.575);
}
th{
       padding:10px 90px;
}

td{
       padding: 20px;
       font-size: 25px;
       
}
table th:first-child{
       border-radius:20px 0 0 20px;
     }
     
table th:last-child{
       border-radius:0 20px 20px 0;
 }

table td:first-child{
       border-radius:20px 0 0 20px;
}
table td:last-child{
       border-radius:0 20px 20px 0;
}
button{
       background-color: rgb(6,57,112);
       color:#ffff;
       border: none;
       cursor: pointer;
       font-size: 23px;
       padding:25px;
       border-radius: 15px;
       margin-top:40px;
       user-select:none;
       transition-duration: 0.4s;

}
button:active{
  opacity: 0;
  transition: all 0.5s;
}

.remove-btn{
       font-size: 15px;
       padding: 10px;
       margin:0;
       background-color: red;
       color: #fff;
       cursor: pointer;
}
.edit-btn{
       font-size: 15px;
       padding: 10px;
       margin:0;
       background-color: green;  
}
.editing{
       max-width: 500px;
       width: 100%;
       margin:0 auto;
       
       
       
       padding:30px 0;
       margin-top:50px;
       border-radius: 20px;
       background-color: rgba(255, 255, 255, 0.575);
}
.editing div{   
       padding:20px;
}
.editing label{
       font-size: 25px;  
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.editing input{
       border: none;
       border-radius: 30px;
       padding:8px;
       font-size: 20px;
}
.hidden {
       display: none;
}
button:hover{
       background-color: #2121;
}
.editing form #update{
       background-color: green;
}
.editing form #update:hover{
       background-color: #2121;
}
.editing .overlay{
       max-width: 500px;
       margin: 0 auto;
       padding:20px;
       position: relative;
       top:30%;
}